
# the .DS_Store files everywhere
.DS_Store

/conf.php
/conf.*.php

# the content directory
/content

# the download directory
/download

# For the Query Monitor plugin
/cms/wp-content/db.php

# Don't ignore /favicon and /media. Since it's just interface and it's small enough to be part of git repo.
