/*
 * Header Section
 */

.header-section {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	overflow-x: hidden;
	background-image: linear-gradient( to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.125) 100%)
}

.header-section .logo {
	position: relative;
	display: inline-block;
	width: 180px;
	overflow-x: visible; 
	overflow-y: visible; 
	font-size: 0;
	line-height: 0;
}
.header-section .logo img {
	width: auto;
	max-width: none;
	height: 56px;
	object-fit: contain;
	margin-left: 50%;
	transform: translateX(-50%); 
}

@media( min-width: 640px )  {
	.header-section {
		text-align: left;
	}

	.header-section .logo {
		width: 247px;
	}

	.header-section .logo img {
		height: 74px;
	}
}
@media( min-width: 1040px ) {
}
@media( min-width: 1480px ) {
	.header-section .logo {
		width: 295px;
	}

	.header-section .logo img {
		height: 90px;
	}
}
