/*
 * Navigation Section
 */

.navigation-section {}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





.menu {
	position: fixed;
	z-index: 101;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	overflow visible;
}

.menu:focus,
.menu:focus * {
	outline: none;
}

.menu .menu-container {
	height: 0;
	text-align: center;
}

.menu-toggle-close {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 49.9%;
}

.menu-toggle-close {
	width: 0;
	height: 0;
}

@media( min-width: 1040px ) {

	.nav-open .menu-toggle-close {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 50%;
	}

}

@media( min-width: 1380px ) {

	.nav-open .menu-toggle-close {
		width: 66.66666%;
	}

}

.menu-toggle {
	-webkit-transform: scale(.80) translateY(-120px);
	-moz-transform: scale(.80) translateY(-120px);
	transform: scale(.80) translateY(-120px);
	cursor: pointer;
	background-color: rgba(150, 105, 76, 0.75);
	padding: 10px 20px;
	border-radius: 28px;
	border: 2px solid rgba(256,256,256,0.5);
	-webkit-transition: transform 0.4s ease-out;
	transition: transform 0.4s ease-out 0.01s, opacity 0s;
}
@media( max-width: 640px )  {
	.menu-toggle.hide {
		-webkit-transform: scale(.80) translateY(50px);
		-moz-transform: scale(.80) translateY(50px);
		transform: scale(.80) translateY(50px);
		opacity: 0;
		transition: transform 0.15s ease-out, opacity 0s 0.15s;
	}
}

.menu-toggle * {
	pointer-events: none;
}

.menu .menu-label {
	position: relative;
	z-index: 1;
	width: 70px;
	display: inline-block;
	vertical-align: middle;
	color: var(--light);
	line-height: 30px;
}

.menu .menu-label:before {
	content: 'Menu';
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	opacity: 1;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.menu .menu-label:after {
	content: 'Close';
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.modal-open .menu .menu-label:before {
	opacity: 0;
}

.modal-open .menu .menu-label:after {
	opacity: 1;
}

.menu .menu-icon {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 30px;
	position: relative;
	transform: scale(.7);
}

.menu .menu-icon span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: var(--light);
	border-radius: 4px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.menu .menu-icon span:nth-child(1) {
  top: 0px;
}

.menu .menu-icon span:nth-child(2) {
  top: 13px;
}

.menu .menu-icon span:nth-child(3) {
  top: 26px;
}

.modal-open .menu .menu-icon span:nth-child(1) {
  top: 13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.modal-open .menu .menu-icon span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.modal-open .menu .menu-icon span:nth-child(3) {
  top: 13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


@media( min-width: 640px )  {
	.menu {
		top: -100px;
		bottom: auto;
	}
	.menu .menu-container {
		text-align: right;
	}
	.menu-toggle {
		-webkit-transform: scale(.80) translateY(200px);
		-moz-transform: scale(.80) translateY(200px);
		transform: scale(.80) translateY(200px);
	}
}

@media( min-width: 1040px ) {
	.menu-toggle {
		border: 1.5px solid rgba(256,256,256,0.5);

		-webkit-transform: scale(1) translateY(180px);
		-moz-transform: scale(1) translateY(180px);
		transform: scale(1) translateY(180px);
	}
}

@media( min-width: 1380px ) {
	.menu-toggle {
		-webkit-transform: scale(1) translateY(220px);
		-moz-transform: scale(1) translateY(220px);
		transform: scale(1) translateY(220px);
	}
}




/* -- Nav -- */

.nav {
	position: fixed;
	z-index: 100;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	-webkit-transition: top .4s ease-in-out;
	-moz-transition: top .4s ease-in-out;
	-o-transition: top .4s ease-in-out;
	transition: top .4s ease-in-out;
}

.nav .nav-container {
	position: relative;
}

.nav .nav-container:before,
.nav .nav-container:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1500px;
}

.nav .nav-container:before { right: 100%; background-color: var(--copper); }
.nav .nav-container:after { left: 100%; background-color: var(--copper); }

.nav-list {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 40px 0 150px 0;
}


.nav-list .title {
	padding: 40px 0 10px 26px;
}

.nav-list .link {
	display: inline-block;
	padding: 10px 26px;
	cursor: pointer;
}

.nav-list .link.active,
.nav-list .link:hover {
	background-color: rgba(0,0,0,0.25);
}


/* -- Nav Open -- */
.nav-open .nav {
	top: 0;
}

@media( min-width: 640px )  {
	 .nav {
	 	top: 0;
	 	left: 100%;
		-webkit-transition: left .4s ease-in-out;
		-moz-transition: left .4s ease-in-out;
		-o-transition: left .4s ease-in-out;
		transition: left .4s ease-in-out;
	}

	.nav-open .nav {
		left: 0;
	}
}

@media( min-width: 1040px ) {
	.nav-list .title {
		padding: 0 0 40px 26px;
	}

	.nav .nav-container:before { background-color: transparent; }
	.nav-open .nav .nav-container:before { background-color: transparent; }

	.nav-list {
		width: 50%;
		padding: 70px 0 180px 0;
		box-shadow: -4px 0 12px 0px rgba(0,0,0,0.4);
	}
}

@media( min-width: 1380px ) {
	.nav-list {
		width: 33.33333%;
		padding: 105px 0 200px 0;
	}

	.nav-list .title {
		padding: 0 0 40px 52px;
	}

	.nav-list .link {
		display: inline-block;
		padding: 15px 52px;
		cursor: pointer;
	}

}


/* -- Link Material Icons -- */

.nav-list .link .material-icons {
	font-size: 21px;
	vertical-align: middle;
}

@media( min-width: 640px ) {
	.nav-list .link .material-icons {
		font-size: 26px;
	}
}

@media( min-width: 1380px ) {
	.nav-list .link .material-icons {
		font-size: 34px;
	}
}


